<% layout('layout/boilerplate') %>

<div class="container text-center">
  <h1>NSFW Hub</h1>
  <p>Welcome to NSFW Hub</p>
  <% pics.forEach((picture, i) => { %>
  <!-- Button trigger modal -->

  <video width="320" height="240" controls>
    <source src="<%= picture%>" type="video/webm" />
    Your browser does not support the video tag.
  </video>

  <!-- Modal -->

  <div
    class="modal fade"
    id="<%= i %>"
    tabindex="-1"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true"
  >
    <div
      class="modal-dialog modal-dialog modal-dialog-centered"
      style="max-width: 1200px"
    >
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Picture</h1>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          <video
            src="<%= picture%>"
            type="video/webm"
            width="200"
            height="300"
            class="mx-1 my-1"
            data-bs-toggle="modal"
            data-bs-target="#<%= i %>"
          ></video>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-secondary"
            data-bs-dismiss="modal"
          >
            Close
          </button>
        </div>
      </div>
    </div>
  </div>

  <% }) %>
</div>
